body
{
background-color: grey;
}
{
margin: 0;
font-family: Arial, sans-serif;
background: #f4f6f9;
}
.container {
width: 80%;
margin: auto;
padding: 20px;
}
header {
text-align: center;
padding: 30px;
background: #4e73df;
color: white;
border-radius: 10px;
}
section {
box-shadow: 0 8px 20px rgba(0,0,0,0.2);
background: white;
padding: 20px;
margin-top: 20px;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(),0,0,0.1);
}
h2 {
color: #4e73df;
}
form input, form textarea {
width: 100%;
padding: 10px;
margin-top:10px;
border-radius: 5px;
border:1px solid #ccc;
}
button {
margin-top: 15px;
padding: 10px 20px;
background: #4e73df;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
button:hover {
background: #2e59d9;
}